@font-face {
    font-family: "Barlow-Regular";
    src: url("Barlow-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Barlow-Bold";
    src: url("Barlow-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}